.content-follow {
  grid-column: 1 / -1;
  display: flex;
  max-width: 520px;
  text-align: justify;
  flex-direction: column;
  box-sizing: border-box;
}

.content-reserved {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icons-media {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
}

.icon a {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-color: var(--light-green);
  border-radius: 12px;
}

.icon a svg {
  padding: 4px;
  height: 40px;
}
