/* BASE */
@import url("base/reset.css");
@import url("base/variables.css");
@import url("base/typography.css");

/* LAYOUT */
@import url("layout/grid.css");
@import url("layout/layout.css");
@import url("layout/states.css");

/* MODULES */
@import url("module/button.css");
@import url("module/nav.css");

/* PAGES */
@import url("pages/hero.css");
@import url("pages/about.css");
@import url("pages/service.css");
@import url("pages/projects.css");
@import url("pages/pricing.css");
@import url("pages/faq.css");
@import url("pages/footer.css");

/* Responsividade */
@import url("layout/breakpoints.css");

/*Padronização de estilos*/
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color1);
  background-color: var(--bg-black);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
}

/* base/typography.css */

.font-42 {
  /* MIN: 18px (para telas pequenas) | PREF: 2.9vw (escala com tela) | MAX: 42px (para telas grandes) */
  font-size: clamp(18px, 2.9vw, 42px);
}

.font-36 {
  /* MIN: 16px | PREF: 2.5vw (proporcional ao 42px) | MAX: 36px */
  font-size: clamp(16px, 2.5vw, 36px);
}

.font-32 {
  /* MIN: 15px | PREF: 2.2vw | MAX: 32px */
  font-size: clamp(15px, 2.2vw, 32px);
}

.font-24 {
  /* MIN: 13px | PREF: 1.7vw | MAX: 24px */
  font-size: clamp(13px, 1.7vw, 24px);
}

.font-22 {
  /* MIN: 12px | PREF: 1.5vw | MAX: 22px */
  font-size: clamp(12px, 1.5vw, 22px);
}

.font-18 {
  /* MIN: 11px | PREF: 1.25vw | MAX: 18px */
  font-size: clamp(11px, 1.25vw, 18px);
}

.font-14 {
  /* MIN: 9px | PREF: 1vw | MAX: 14px */
  font-size: clamp(9px, 1vw, 14px);
}
